<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>TecnoGames</title>
  <link rel="shortcut icon" href="img/Nuevo proyecto.png" type="image/x-icon">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
</head>

<body class="inicio">
  <nav>
    <img src="img/programacion 2.png" alt="" class="logo22">

</nav>
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="card signup text-center animate__animated animate__bounceInLeft">
          <div class="card-header">
            <h3 class="text-white">Registrate</h3>
          </div>
          <div class="card-body">
            <form action="/signup" method="POST" class="col-auto">
              <div class="form-group">
                <input type="text" id="username" name="username" placeholder="Nombre de Usuario" required  class="form-control mb-2">
              </div>
              <div>
                <input type="password" id="password" name="password" placeholder="Contraseña" class="form-control mb-2" required>
              </div>
              <div class="form-group">
                <input type="email" id="email" name="email" placeholder="Email" class="form-control mb-2"required>
              </div>
              <div class="form-group">
                <select name="state" id="state" class="form-select mb-2"required>
                  <option value="" selected disabled>Seleccione su Provincia</option>
                  <option value="BA">Buenos Aires</option>
                  <option value="CA">Catamarca</option>
                  <option value="CH">Chaco</option>
                  <option value="CT">Chubut</option>
                  <option value="CB">Córdoba</option>
                  <option value="CR">Corrientes</option>
                  <option value="ER">Entre Ríos</option>
                  <option value="FO">Formosa</option>
                  <option value="JY">Jujuy</option>
                  <option value="LP">La Pampa</option>
                  <option value="LR">La Rioja</option>
                  <option value="MZ">Mendoza</option>
                  <option value="MI">Misiones</option>
                  <option value="NQN">Neuquén</option>
                  <option value="RN">Río Negro</option>
                  <option value="SA">Sanlta</option>
                  <option value="SJ">San Juan</option>
                  <option value="SL">San Luis</option>
                  <option value="SC">Santa Cruz</option>
                  <option value="SF">Santa Fe</option>
                  <option value="SE">Santiago del Estero</option>
                  <option value="TF	">Tierra del Fuego</option>
                  <option value="TU">Tucumán</option>
                </select>
              </div>
              <div class="form-group">
                <input type="city" id="city" name="city" placeholder="Ciudad" class="form-control mb-2" required>
              </div>
              <div class="form-group">
              <input type="number" id="phone" name="phone" placeholder="Telefono" class="form-control mb-2" required>
              <div class="form-group">
                <button class="btn btn-success btn-block">
                  Registrarse
                </button>
              </div>
            </form>
            <p class="text-white">¿Ya tenes una cuenta? inicia sesión <a href="./signin">aqui</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"></script>
  <script src="js/script.js"></script>
</body>  
</html>