<nav class="navbar navbar-expand-lg fixed-top">
      
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="/index"><i class="bi bi-list"></i> Menú</a>
      <a href="/products"><i class="bi bi-laptop"></i> Productos</a>
      <a href="/users"><i class="bi bi-people-fill"></i> Clientes</a>
      <a href="/category"><i class="bi bi-grid"></i> Categorias</a>
      <a href="/orders"><i class="bi bi-list-ol"></i> Pedidos</a>
      <li><hr class="dropdown-divider text-white"></li>
      <div class=" perfil btn-group dropup">
        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
          <strong>mdo</strong>
        </a>  
        <ul class="dropdown-menu">
          <li><a class="dropdown-item " href="/profile">Perfil</a></li>
          <li><hr class="dropdown-divider text-white"></li>
          <li><a class="dropdown-item" href="/logOut">Cerrar sesión</a></li>
        </ul>
      </div>
    </div>
      
    </div>

    <div id="main">
      <span class="text-white"style="font-size:30px;cursor:pointer " onclick="openNav()">&#9776; </span>
    </div>
    <div class="container">
      <a class="navbar-brand" href="/index"><img src="img/Programacion 2.png" alt="Node.js icon" class="logo22"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    
  </nav>
  <script src="js/sidebars.js"></script>